* {
    box-sizing: border-box;
}

:root {
    --text-color-black-gray: #575d5e;
    --color-white: #fff;
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --secondary-color-light-green: #e2eddf;
    --secondary-color-blue: #83a17d;
    --secondary-color-gray: #6a8383;
    --text-color-light-gray: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 2px solid var(--primary-color-black-green);
    background: var(--primary-color-black-green);
    color: var(--color-white);
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}

.btn:hover {
    cursor: pointer;
    background-color: #83a17d;
    border-color: #83a17d;
}

.section-title {
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-bottom: 20px;
    margin-left: 46px;
    position: relative;
}

.section-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -46px;
    top: 50%;
    translate: 0 -50%;
    width: 25px;
    height: 1px;
    background-color: var(--primary-color-black);
}

.section-heading {
    color: var(--primary-color-black);
    max-width: 520px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    position: relative;
}

.section-desc {
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

/* Header */
.header {
    margin-top: 12px;
    padding: 16px 0 14px;
    background-color: var(--color-white);
}

.header--sticky {
    position: sticky;
    top: 0;
    z-index: 99;
}

.header::after {
    content: "";
    display: block;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    font-family: "Public Sans", sans-serif;
    margin-left: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item--active {
    position: relative;
}

.navbar__item--active .navbar__link {
    color: var(--primary-color-black);
}

.navbar__item--active::after {
    content: "";
    width: 16px;
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 19px;
    bottom: -27px;
    background: var(--primary-color-black-green);
    z-index: 1;
}

.navbar__link {
    padding: 4px 19px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    transition: color 0.15s;
}

.navbar__link:hover {
    color: var(--primary-color-black);
}

.header-action {
    margin-left: 69px;
}

/* Hero */
.hero {
    font-family: "Public Sans", sans-serif;
    margin-top: 60px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 76px;
}

.hero__content {
    flex-shrink: 0;
    margin-top: 43px;
}

.hero__heading {
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    max-width: 368px;
    margin-bottom: 20px;
}

.hero__desc {
    color: var(--text-color-black-gray);
    max-width: 341px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero-play {
    margin-left: 36px;
    border: none;
    outline: none;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-play__icon-wrap {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #83a17d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s;
}

.hero-play__icon-wrap::before {
    content: "";
    display: inline-block;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 4px solid;
    border-color: transparent transparent var(--primary-color-black-green)
        var(--primary-color-black-green);
    rotate: 45deg;
    position: absolute;
    left: -7px;
    box-sizing: border-box;
    transition-duration: 0.25s;
    transition-property: rotate, border-color;
}

.hero-play:hover .hero-play__icon-wrap {
    background-color: var(--primary-color-black-green);
}

.hero-play:hover .hero-play__icon-wrap::before {
    rotate: 225deg;
    border-color: transparent transparent #83a17d #83a17d;
}

.hero-play__text {
    color: var(--primary-color-black);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 15px;
}

.hero__media {
    position: relative;
    flex: 1;
}

.hero__decor {
    position: absolute;
}

.hero__decor:first-child {
    top: -32px;
    right: 298px;
}

.hero__decor:nth-child(2) {
    rotate: 180deg;
    right: 34px;
    top: 240px;
}

.hero__bg {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    position: absolute;
    top: 122px;
    left: 156px;
    z-index: -1;
}

.hero__images {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

/* Client */
.client {
    margin: 65px 0 53px;
    padding-top: 65px;
}

.client__list {
    height: 201px;
    border-radius: 999px;
    background-color: var(--secondary-color-light-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 122px;
}

.client-item {
    display: flex;
    align-items: center;
}

.client-item__title {
    color: var(--primary-color-black-green);
    font-size: 3.2rem;
    font-weight: 600;
}

.client-item__title--google {
    font-size: 3.1rem;
    font-weight: 500;
}

.client-item__title--slack {
    margin-left: 4px;
}

.client-item__title--agworld {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
    margin-left: 15px;
}

.client-item__title--riotinto {
    font-family: "Sonsie One", cursive;
    font-size: 2.3rem;
}

.client-item__title--heroku {
    margin-left: 10px;
    font-size: 1.9rem;
    letter-spacing: 1.995px;
}

/* Service */
.service {
    padding: 53px 0 75px;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.service__title {
    margin-bottom: 12px;
}

.service__heading::after,
.process__heading::after,
.project__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: var(--primary-color-black);
    bottom: 19px;
    right: 103px;
}

.service__control {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.service__control-btn {
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--secondary-color-light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-black-green);
    transition: color 0.25s, background-color 0.25s;
}

.service__control-btn:last-child {
    rotate: 180deg;
}

.service__control-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color-black-green);
    color: var(--color-white);
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    background-color: var(--color-white);
    transition: box-shadow 0.25s;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    scale: 1.1;
}

.service-item__images {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 318px;
    overflow: hidden;
}

.service-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.25s;
}

.service-item__body {
    padding: 24px 18px;
}

.service-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 18px;
}

.service-item__desc {
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
    max-width: 268px;
}

/* About */
.about {
    padding: 75px 0 40px;
}

.about__inner {
    display: flex;
    gap: 64px;
}

.about__media {
    display: flex;
    position: relative;
    max-width: 52%;
}

.about__decor {
    position: absolute;
    top: 12px;
    left: -4px;
    rotate: 19deg;
}

.about__images {
    display: flex;
    gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    display: block;
    border-radius: 999px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    margin-top: 90px;
}

.about__img:last-child {
    margin-top: 13px;
}

/* About Statistic */
.about-statistic {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    top: 418px;
    right: -10px;
    padding: 20px 18px 12px;
    border-radius: 8px;
    background-color: var(--color-white);
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-statistic__heading {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 6px;
}

.about-statistic__title {
    color: #cbcccd;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
}

.about-statistic__range-wrap {
    display: flex;
    flex-direction: column;
}

.about-statistic__percent {
    color: var(--primary-color-black);
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 3px;
    font-size: 1rem;
}

.about-statistic__range {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    margin-bottom: 3px;
}

.about-statistic__value {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background: #83a17d;
}

.about-statistic__loading {
    align-self: flex-end;
}

.about-statistic__loading,
.about-statistic__text {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-statistic__circle {
    box-sizing: content-box;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary-color-black-green);
    border: 3px solid var(--secondary-color-light-green);
    margin-top: 3px;
}

.about-statistic__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.about-statistic__list {
    display: flex;
}

.about-statistic__item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-white);
    background-color: #ccc;
    margin-left: -6px;
}

.about-statistic__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Content */
.about__desc {
    margin-top: 11px;
}

.about-detail {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-detail__percent {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about-detail__desc {
    width: 364px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* Process */
.process {
    padding: 40px 0;
}

.process__title {
    margin-top: 36px;
}

.process__heading {
    max-width: 477px;
}

.process__heading::after {
    left: 420px;
    right: 0;
}

.process__list {
    margin-top: 81px;
    display: flex;
    flex-direction: column-reverse;
}

.process-item {
    display: flex;
    padding: 25px 40px 25px 30px;
    height: 185px;
    position: relative;
    align-items: center;
    transition-property: background;
    transition-duration: 0.25s;
}

.process-item:hover {
    border-radius: 33px;
    background: var(--secondary-color-light-green);
}

.process-item:hover::after {
    visibility: hidden;
}

.process-item:hover + .process-item::after {
    visibility: hidden;
}

.process-item:hover .process-item__link {
    visibility: visible;
}

.process-item::after {
    content: "";
    display: block;
    width: calc(100% - 9px);
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );

    position: absolute;
    bottom: 0;
    left: 0;
    transition: visibility 0.1s;
}

.process-item__order {
    color: var(--primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 7.2;
    margin-right: 50px;
    min-width: 110px;
}

.process-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
}

.process-item__link {
    display: inline-block;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 15px;
    text-decoration: underline;
    visibility: hidden;
}

.process-item__img {
    width: 450px;
    height: 444px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process-item__desc {
    color: var(--text-color-light-gray);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    max-width: 572px;
    margin-left: auto;
}

/* Project */

.project {
    margin-top: 110px;
    padding: 116px 130px 63px;
    background-color: var(--primary-color-black-green);
    position: relative;
}

.project__row {
    display: flex;
    justify-content: space-between;
    gap: 93px;
}

.project__heading {
    color: #e7f9f9;
    max-width: 457px;
}

.project__heading::after {
    background-color: var(--secondary-color-blue);
    left: 294px;
    right: 0;
}

.project__desc {
    color: var(--secondary-color-gray, #6a8383);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-bottom: 13px;
}

.project__link {
    display: inline-flex;
    align-items: center;
    gap: 26px;
}

.project__link:hover .project__link-text {
    text-decoration: underline;
}

.project__link:hover .project__link-icon {
    color: var(--color-white);
}

.project__link-text {
    color: var(--color-white);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project__link-icon {
    color: #80a07b;
}

.project__decor {
    position: absolute;
}

.project__decor:first-of-type {
    top: 208px;
    right: 130px;
}

.project__decor:last-of-type {
    top: 120px;
    right: 124px;
}

.video {
    width: 100%;
    height: 544px;
    margin-top: 65px;
    border-radius: 22px;
    overflow: hidden;
}
